<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корпус анекдотов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/scale_1200.png">
</head>
<body>
  <div class='page__header'>
    <img class='logo' src='../static/scale_1200.png'>
    <div class='header__name'><a href="/" class='header__name'>Корпус анекдотов</a></div>
  </div>
  <div class='body__search'>
    <div class="toc">
      <h2>Оглавление</h2>
      <ul>
        <li><a href="#t1">О корпусе</a></li>
        <li><a href="#t2">Обозначения для граммем</a></li>
        <li><a href="#t3">Простой поиск</a></li>
        <li><a href="#t4">Поиск омонимов</a></li>
        <li><a href="#t5">Более продвинутый поиск</a></li>
        <li><a href="#t6">А если в корпусе не будет нужного слова?</a></li>
     </ul>
    </div>
    <div class="help__block">
      <h3 id="t1">О корпусе</h3>
      <p>В Корпусе анекдотов собрана коллекция из 149 анекдотов. По ним можно осуществлять поиск следующим образом: на главной странице можно найти три строки ввода - вы можете искать одно, два или три слова. Начинать нужно с первой строки, т. е. если вам нужно одно слово, заполняйте только верхнюю строчку.</p>
      <img class="help-img" src="../static/help1.png" alt="Строки поиска">
      <p class="help__warning">!Оба поля в одной строке обязательны к заполнению!</p>
      <p>Искать в корпусе можно по словоформе (type word), лемме (type lemma) или части речи (type POS).</p>
      <p>Также при поиске омонимичных существительных можно указать часть речи этого слова через знак "+". Об этом <a href='#t4'>ниже.</a></p>
      <p class='instruction-nb'>NB! При поиске биграмм и триграмм пунктуация не учитывается</p>
      <p>В корпусе используется частеречный тэгсет stanza</p>
    </div>
    <div class="help__block">
      <h3 id="t2">Обозначения для граммем</h3>
        <p>Части речи помечаются при помощи их универсальных тегов частей речи <a href="https://universaldependencies.org/u/pos/">(UPOS)</a></p>
        <table border="1">
          <tr>
            <th>Граммема</th>
            <th>Значение</th>
          </tr>
          <tr>
            <td>ADJ</td>
            <td>Прилагательное</td>
          </tr>
          <tr>
            <td>ADP</td>
            <td>Предлог/послелог</td>
          </tr>
          <tr>
            <td>ADV</td>
            <td>Наречие</td>
          </tr>
          <tr>
             <td>AUX</td>
             <td>Вспомогательный глагол</td>
          </tr>
          <tr>
            <td>CCONJ</td>
            <td>Союз (сочинительный)</td>
          </tr>
          <tr>
            <td>DET</td>
            <td>Неличное местоимение</td>
          </tr>
          <tr>
            <td>INTJ</td>
            <td>Междометие</td>
          </tr>
          <tr>
            <td>NOUN</td>
            <td>Существительное</td>
          </tr>
          <tr>
            <td>NUM</td>
            <td>Числительное</td>
          </tr>
          <tr>
            <td>PART</td>
            <td>Частица</td>
          </tr>
          <tr>
            <td>PRON</td>
            <td>Личное местоимение</td>
          </tr>
          <tr>
            <td>PROPN</td>
            <td>Имя собственное</td>
          </tr>
          <tr>
            <td>SCONJ</td>
            <td>Союз (подчинительный)</td>
          </tr>
          <tr>
            <td>SYM</td>
            <td>Символ (в основном скобки)</td>
          </tr>
          <tr>
            <td>VERB</td>
            <td>Глагол</td>
          </tr>
          <tr>
            <td>X</td>
            <td>Символ (буквенный)</td>
          </tr>
        </table>
      </div>
    <div class="help__block">
      <h3 id="t3">Примеры простого поиска</h3>
      <div class='img-container'>
        <h4>Поиск определенного слова</h4>
        <img class='help-img' src="../static/help2_1.png">
        <img class='help-img' src="../static/help2_2.png">
      </div>
      <div class='img-container'>
        <h4>Поиск по лемме</h4>
        <img class='help-img' src="../static/help2_3.png">
        <img class='help-img' src="../static/help2_4.png">
      </div>
      <div class='img-container'>
        <h4>Поиск по части речи</h4>
        <img class='help-img' src="../static/help2_5.png">
        <img class='help-img' src="../static/help2_6.png">
      </div>
      <p>Часть речи пишется только заглавными буквами, обозначения используются такие, как <a href='#t2'>здесь.</a></p>
    </div>
    <div class="help__block">
      <h3 id="t4">Поиск омонимов</h3>
      <p>При поиске омонимов можно воспользоваться знаком "+". Так, если написать в поиске "хорошо+ADJ", то в выдаче будут только те предложения, где данное слово является прилагательным.</p>
      <div class="img-container">
        <img class="help-img" src="../static/help2_7.png">
        <img class="help-img" src="../static/help2_8.png">
      </div>
    </div>
    <div class="help__block">
      <h3 id = "t5">Более продвинутый поиск</h3>
      <p>В корпусе можно искать разные би- и триграммы. В поисковой строке можно комбинировать лемму, слово и часть речи разными способами. Вот несколько примеров сложных запросов:</p>
      <div class="img-container">
        <img class='help-img' src="../static/help3_1.png">
        <img class='help-img' src="../static/help3_2.png">
      </div>
      <div class="img-container">
        <img class='help-img' src="../static/help3_3.png">
        <img class='help-img' src="../static/help3_4.png">
      </div>
      <div class="img-container">
        <img class='help-img' src="../static/help3_5.png">
        <img class='help-img' src="../static/help3_6.png">
      </div>
    </div>
    <div class="help__block">
      <h3 id='t6'>Слова в корпусе нет</h3>
      <p>Наш корпус будет пополняться! Не расстраивайтесь, если слова, леммы или части речи нет в корпусе. Зато вы сможете увидеть грустного котика. Убедитесь сами, попробуйте ввести такой запрос:</p>
      <div class="img-container">
        <img class="help-img" src="../static/help4.png">
      </div>
    </div>
  </div>
  <div class='page__footer'>
    <div class='footer__content'>Проект по предмету "Автоматическая обработка естественного языка", НИУ ВШЭ, выполнен Аней Мартыновой, Дашей Ревенко, Ксюшей Цегоевой и Яниной Худиной
    </div>
  </div>
</body>
